#field-cell:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
}

#field-cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
}

#field-cell:nth-child(3n) {
    border-right-width: 3px;
}

#field-cell:nth-child(9n) {
    border-right-width: 4px;
}

#field-cell:nth-child(9n+1) {
    border-left-width: 4px;
}

#field-cell:nth-child(n+19):nth-child(-n+27) {
    border-bottom-width: 3px;
}

#field-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom-width: 3px;
}

#field {
    display: grid;
    grid-template-columns: 57px 54px 56px 54px 54px 56px 54px 54px 57px;
    grid-template-rows: 57px 54px 56px 54px 54px 56px 54px 54px 57px;
    justify-content: center;
    align-content: center;
    list-style: none;
    gap: 0rem;
    margin-top: -12px;
    margin-left: -25px;
    padding: 0;
    font-size: 40px;
    text-align: center;
    position: relative;
}

#field-cell {
    margin: 0;
    padding: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    position: relative;
}

.parent {
    display: flex;
    align-items: center;
}

#numpad {
    display: grid;
    grid-template-columns: 98px 101px 98px;
    grid-template-rows: 98px 101px 98px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-gap: 0rem;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    font-size: 50px;
}

#numpad-cell {
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0072e3;
    background: #eaeef4;
    cursor: default;
}

#numpad-cell:nth-child(3n+1){
    margin-right: 3px;
}

#numpad-cell:nth-child(3n+2) {
    margin-right: 3px;
    margin-left: 3px;
}

#numpad-cell:nth-child(3n) {
    margin-left: 3px;
}

#numpad-cell:nth-child(-n+6) {
    margin-bottom: 3px;
}

#numpad-cell:nth-child(n+4) {
    margin-top: 3px;
}

#numpad-cell:hover {
    background: #dce3ed;
    cursor: pointer;
}

#numpad-cell:active {
    background: #d2dae7;
    cursor: pointer;
}

#note {
    display: grid;
    grid-template-columns: repeat(3, 15px);
    grid-template-rows: repeat(3, 15px);
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 0rem;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: gray;
    margin-top: -6px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#note-cell {
    margin: 0;
    padding: 0;
    display: flex;
    cursor: default;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#celltext {
    justify-content: center;
    align-content: center;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
}

#ngbutton {
    width: 100%;
    height: 80px;
    background: #0072e3;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    position: relative;
    margin-top: 7px;
    border-radius: 7px;
}

#ngbutton:hover {
    background: #0065c8;
    cursor: pointer;
}

#ngbutton:active {
    background: #3a90e5;
    cursor: pointer;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    clear: both;
    display: inline-block;
    overflow: hidden;
}

#noteswitch {
    width: 70px;
    height: 70px;
    color: #0072e3;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    background: #eaeef4;
}

#noteswitch.off {
    border: 0px solid;
    border-radius: 35px;
}

#noteswitch.on {
    border: 3px solid #0072e3;
    border-radius: 35px;
}

#noteswitch:hover {
    background: #dce3ed;
    cursor: pointer;
}

#switcher {
    position: absolute;
    width: 34px;
    height: 24px;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 15px;
}

#switcher.off {
    background: #adb6c2;
    top: -7px;
    right: -7px;
}

#switcher.on {
    background: #0072e3;
    top: -10px;
    right: -10px;
}

#timer {
    margin-left: auto;
    margin-right: 7px;
    font-size: 20px;
}

#playbutton {
    width: 20px;
    height: 20px;
    border-radius: 13px;
    background: #eaeef4;
    position: relative;
    /*border: black solid 2px;*/
}

#circlebutton {
    width: 70px;
    height: 70px;
    color: #0072e3;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    background: #eaeef4;
    border-radius: 35px;
}

#circlebutton:hover {
    background: #dce3ed;
    cursor: pointer;
}

#circlebutton:active {
    background: #d2dae7;
    cursor: pointer;
}

#mist {
    margin-left: 0px;
    margin-right: auto;
    font-size: 20px;
}

#circlepause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    clear: both;
    display: inline-block;
    overflow: hidden;
    width: 68px;
    height: 68px;
    border-radius: 34px;
    background: #0072e3;
}

#levelchoice {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    height: 360px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5), 0px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

#arrow {
    position: absolute;
    background: white;
    top: 377px;
    left: 50%;
    transform: translate(-50%, -0%) rotate(45deg);
    width: 25px;
    height: 25px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5), 0px 10px 5px -5px rgba(0, 0, 0, 0.5), 10px 0px 5px -5px rgba(0, 0, 0, 0.5);
    /*border: 1px solid black;*/
}

#textcloud {
    transition-property: opacity, visibility;
    transition-timing-function: ease;
    transition-duration: 500ms;
}

.fade_in {
    opacity: 1;
    visibility: visible;
}

.fade_out {
    opacity: 0;
    visibility: hidden;
}

.anim_f {
    animation: 2s faded;
    animation-fill-mode: forwards;
}

.anim_b {
    animation: 2s faded;
    animation-fill-mode: backwards;
}

@keyframes faded {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#textdifficult {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -0%);
    white-space: nowrap;
    clear: both;
    display: inline-block;
    overflow: hidden;
    font-size: 22px;
}

#line {
    border-top: 2px solid #c4daf7;
    width: 100%;
    position: absolute;
    top: 13%;
}

#difficultfield {
    display: grid;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translate(-50%, -0%);
    background: #c4daf7;
    width: 90%;
    height: 274px;
    border-radius: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 45px 46px 46px 46px 46px 45px;
}

#difficultfield-cell {
    color: #0072e3;
    background: #f3f6fa;
    cursor: default;
    position: relative;
}

#difficultfield-cell:nth-child(-n+5){
    border-bottom: 1px solid #c4daf7;
}

#difficultfield-cell:nth-child(n+2){
    border-top: 1px solid #c4daf7;
}

#difficultfield-cell:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#difficultfield-cell:nth-child(6){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#difficultfield-cell:hover {
    background: #c4daf7;
    cursor: pointer;
}

#icon {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-0%, -50%);
    font-size: 20px;
}

#texticon {
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-0%, -50%);
    color: #0072e3;
    font-size: 20px;
}